body {
  font-family: Arial, sans-serif;
  background-color: #141332;
  margin: 0;
  padding: 0;
}

.App {
  width: 86%;
  background-color: #141332;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

h1 {
  text-align: center;
  color: white;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.search-container button:hover {
  background-color: #0056b3;
}
